* {
  box-sizing: border-box;
}

:root {
  --main-color: black;
}

body {
  width: 100%;
}

.root {
  border: 1px dashed orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  font-size: 2em;
  border: 1px dashed var(--main-color);
  text-align: center;
  vertical-align: middle;
}

table {
  margin: 0 auto;
}

th {
  text-align: center;
  vertical-align: middle;
}

.enabled {
  background-color: #000;
  color: #fff;
}
